<div class="max-w-6xl m-auto px-[20px] py-[10px]">
    <div class="flex flex-row"> 
            <ul class="w-[500px]">
                <li>
                    <h2 class="py-[10px] text-xl font-bold">More</h2>
                </li>
                <li>
                    <a href="nyaa">Privacy</a>
                </li>
                <li>
                    <a href="nyaa">Source Code</a>
                </li>
                <li>
                    <a href="nyaa">About Me</a>
                </li>
            </ul>
            
            <ul>
                <li><h2 class="py-[10px] text-xl font-bold">Connect</h2>

                </li>
                <li>
                    <a href="nyaa">GitHub</a>
                </li>
                <li>
                    <a href="nyaa">Discord</a>
                </li>
            </ul>
    </div>
    <p class="text-center py-[10px] text-sm">Made with &hearts; by Squid Grill</p>
</div>