<a href="" class="transition left-2 fixed -translate-y-16 focus:translate-y-0">Skip to content</a>
<nav class="text-sm bg-secondary px-[20px] py-[5px]">
    
    <div class="md:hidden">
        <a href="/index.html">
            pretend this is a home button
        </a>
    </div>
    <div class="hidden md:flex flex-wrap overflow-hidden gap-5 max-w-6xl m-auto max-h-[54px] justify-around lg:place-items-center">
        {% for item in site.data.navigation %}
        <a href="{{ item.link }}">
            <div class="flex flex-col w-[150px] px-10 py-[2px] place-items-center hover:bg-blue rounded-md">
                <img class="w-8 h-8" src="{{ item.icon }}"/>
                <span class="">{{ item.name }}</span>
            </div>

        </a>
        {% endfor %}
    </div>
</nav>