<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="bg-foreground dark:bg-dark-foreground text-primarytext dark:text-dark-primarytext transition-colors">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta charset="utf-8">
   <title>{{ page.title }}</title>
   <link rel="stylesheet" href="/assets/css/styles.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap" rel="stylesheet">
   <meta property="og:description" content="squiddy squiddy squid squid">
   <meta property="og:site_name" content="Squid Grill">
   <meta property="og:title" content="{{ page.title }}">
   <meta property="og:type" content="website">
   <meta property="og:url" content="https://royce551.github.io">
   <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
<body class="font-sourcesans">
   {% include navigation.html %}
        <div class="max-w-6xl m-auto py-[5px] px-[20px] text-sm">
           <p><a class="underline text-blue" href="/FRESHMusicPlayer/index.html">FRESHMusicPlayer Home</a> > Documentation > {{ page.sectiontitle }}</p>
        </div>
   <div class="bg-background dark:bg-dark-background transition-colors ">
      <div class="max-w-6xl m-auto ">

         <div class="md:flex md:flex-row gap-5">
            <div class="bg-secondary dark:bg-dark-secondary mt-[10px] mb-[10px] px-[20px] py-[10px] rounded-lg md:max-w-[200px] flex flex-col">
               <a class="py-[5px]" href="index.html">Introduction</a>
               <a class="py-[5px]" href="library.html">Library Management</a>
               <a class="py-[5px]" href="playing.html">Playing Music</a>         
               <a class="py-[5px]" href="tageditor.html">Tag Editor</a>
               <a class="py-[5px]" href="settings.html">Settings</a>
            </div>
            <div class="mt-[10px] mb-[10px]">
               {{ content }}
            </div>
         </div>
      </div>
   </div>
   {% include footer.html %}
</body>
</html>