<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="bg-foreground dark:bg-dark-foreground text-primarytext dark:text-dark-primarytext transition-colors">
<head>
    {% include htmlhead.html %}
</head>
<body class="font-sourcesans">
   {% include navigation.html %}
        <div class="max-w-6xl m-auto py-[5px] px-[20px] text-sm">
           <p><a class="underline text-blue" href="/FRESHMusicPlayer/index.html">FRESHMusicPlayer Home</a> > Documentation > {{ page.sectiontitle }}</p>
        </div>
   <div class="bg-background dark:bg-dark-background transition-colors ">
      <div class="max-w-6xl m-auto py-[20px] px-[20px]">

         <div class="md:flex md:flex-row gap-5">
            <div class="bg-secondary dark:bg-dark-secondary mt-[10px] mb-[10px] px-[20px] py-[10px] rounded-lg w-[150px] flex flex-col">
               <a class="py-[5px]" href="index.html">Introduction</a>
               <a class="py-[5px]" href="library.html">Library Management</a>
               <a class="py-[5px]" href="playing.html">Playing Music</a>         
               <a class="py-[5px]" href="settings.html">Settings</a>
            </div>
            <div class="mt-[10px] mb-[10px]">
               {{ content }}
            </div>
         </div>
      </div>
   </div>
   {% include footer.html %}
</body>
</html>